#### Internal data types in Python:

* String---Aggregate
* List----- Aggregate
* Tuples----Aggregate
* Dictionaries---Aggregate
* Sets-------Aggregate
* Integer---Scaler
* Float----- Scaler
* Complex---Scaler
* Boolean---Scaler

In [4]:
x=10
type(x)

int

In [6]:
z=40.5
m=5+1j
n=True

In [8]:
print(type(z))
print(type(m))
print(type(n))

<class 'float'>
<class 'complex'>
<class 'bool'>

#### Lists: Lists are an ordered collection of elements,lists are mutable(changeable). Lists are created with [] brackets or a list constructor.

In [9]:
list1=[9.6,11,'text',True,4+2j,None]
list1

[9.6, 11, 'text', True, (4+2j), None]

In [10]:
list2=list([9.6,11,'text',True,4+2j,None])
list2

[9.6, 11, 'text', True, (4+2j), None]

In [11]:
print(type(list1))
print(type(list2))

<class 'list'>
<class 'list'>

In [12]:
###slicing:
list1[2]

'text'

In [13]:
list1[-4]

'text'

In [14]:
list1[2]='string'

In [15]:
list1

[9.6, 11, 'string', True, (4+2j), None]

In [16]:
list1.append('new')

In [17]:
list1

[9.6, 11, 'string', True, (4+2j), None, 'new']

In [18]:
#Q) insert a value of 50 in the second position in list1

In [19]:
#pop function removes an element for the list:
list1.pop(2)

'string'

In [20]:
list1

[9.6, 11, True, (4+2j), None, 'new']

#### Tuples are ordered collection of elements like lists,but they are immutable. It is created with () or the tuple constructor:

In [21]:
t1=(9.6, 11, 'string', True, (4+2j), None, 'new')

In [22]:
type(t1)

tuple

In [23]:
t2=tuple((9.6, 11, 'string', True, (4+2j), None, 'new'))

In [24]:
type(t2)

tuple

In [25]:
t1[2]='text'

TypeError: 'tuple' object does not support item assignment

### Sets are unordered collection of elements. Sets do not allow duplicates,and are created with curly brackets.

In [26]:
set1={9.6, 11, 'string', True, (4+2j), None, 'new'}
type(set1)

set

In [27]:
set2=set([9.6, 11, 'string', True, (4+2j), None, 'new'])
type(set2)

set

In [28]:
set1

{(4+2j), 11, 9.6, None, True, 'new', 'string'}

In [29]:
set1[2]='text'

TypeError: 'set' object does not support item assignment

In [30]:
#removing values from a set
set1.remove('string')

In [31]:
set1

{(4+2j), 11, 9.6, None, True, 'new'}

In [32]:
#add elements to a set:
set1.add(83)

In [33]:
set1

{(4+2j), 11, 83, 9.6, None, True, 'new'}

In [34]:
#Q) what is the difference between add and update functions on sets?

##### Dictionaries: Dictionaries are key-values. Dictionaries are mutable,and are created using curly brackets or dict function.

In [35]:
dict1={'Name':'Python',2:'second','Third':3,'summer':'mangoes'}

In [36]:
type(dict1)

dict

In [37]:
dict1.keys()

dict_keys(['Name', 2, 'Third', 'summer'])

In [39]:
dict1.values()

dict_values(['Python', 'second', 3, 'mangoes'])

In [40]:
dict2=dict({'Name':'Python',2:'second','Third':3,'summer':'mangoes'})

In [41]:
type(dict2)

dict

In [42]:
dict2[2]

'second'

In [43]:
dict2['Third']=30

In [44]:
dict2

{'Name': 'Python', 2: 'second', 'Third': 30, 'summer': 'mangoes'}

In [45]:
del dict2['summer']

In [46]:
dict2

{'Name': 'Python', 2: 'second', 'Third': 30}

In [47]:
#Q) Find the smallest element in list1 which contains the values 22,12,78,15

In [48]:
#Q) Find all the positive numbers in the above list

In [49]:
# Q) get unique items from the below sets:
 #set1={10,20,30,40,50}
 #set2={30,40,50,60,70}

In [50]:
#Q) get the key of the min value from the below dictionary:
#test_dict={'Maths':77,'English':88,'Economics':92}